@import "tailwindcss";

:root {
  --background: #030712;
  --surface: #111827;
  --card: #1E293B;

  --primary: #3B82F6;
  --secondary: #38BDF8;
  --accent: #22D3EE;

  --text: #F8FAFC;
  --muted: #94A3B8;

  --border: rgba(255,255,255,.08);
}

*{
  margin:0;
  padding:0;
  box-sizing:border-box;
}

html{
  scroll-behavior:smooth;
}

body{
  background:var(--background);
  color:var(--text);
  font-family:'Inter',sans-serif;
  overflow-x:hidden;
}

h1,h2,h3,h4,h5,h6{
  font-family:'Space Grotesk',sans-serif;
}

a{
  color:inherit;
  text-decoration:none;
}

button{
  font-family:inherit;
  cursor:pointer;
}

img{
  display:block;
  max-width:100%;
}